<div class="container-body">
    <div class="container-imgFundo">
        <div class="container-imgBackground">
            <div class="container-texto">
                <h1 class="titulo">Bem vindo ao ToolMasters!</h1><br>
                <h3 class="texto-home">Se você já teve algum problema e precisou desmontar algum aparelho, cortar algum
                    fio
                    ou apertar um
                    parafuso solto, de certo sabe a falta que não ter uma chave de fenda ou um alicate faz em situações
                    como
                    essas ou outras às quais estamos sujeitos no dia a dia!</h3>
                <form class="formCadastrarFerramenta" action="/cadastroFerramenta" method="GET">
                    <button class="btnCadastrarFerramenta">Cadastrar Ferramenta</button>
                </form>
            </div>
        </div>
    </div>

    <div class="ferramentasCadastradas">
        <h3 class="toolMaster">ToolMasters</h3>
        <h1 class="texto-ferramentasCadastradas">Ferramentas Cadastradas</h1>
    </div>

    <div class="container__fundo_card">
        <div class="container__card">

            <% for (var i=0; i < ferramentas.length; i++) { %>
                <div class="card__father">
                    <div class="card">
                        <div class="card__front" style='background-image: url("/uploads/<%= ferramentas[i].imagem %>");'>
                            <div class="bg"></div>
                            <div class="body__card_front">
                                <h1>
                                    <%= ferramentas[i].nome_ferramenta %>
                                </h1>
                            </div>
                        </div>
                        <div class="card__back">
                            <div class="body__card_back">
                                <div class="body__card_back_text">
                                    <div class="body_text_back">
                                        <h4>Nome Ferramenta</h4>
                                        <h3 class="nome-ferramenta-home titulo-nomes">
                                            <%= ferramentas[i].nome_ferramenta %>
                                        </h3><br>
                                        <h4>Descrição Ferramenta</h4>
                                        <h4 class="descricao-ferramenta-home titulo-nomes">
                                            <%= ferramentas[i].descricao %>
                                        </h4><br>
                                        <h4>Código Ferramenta</h4>
                                        <h4 class="codigo-ferramenta-home titulo-nomes">
                                            <%= ferramentas[i].codigo %>
                                        </h4><br>
                                        <h4>Série Ferramenta</h4>
                                        <h4 class="numero-serie-ferramenta-home titulo-nomes">
                                            <%= ferramentas[i].numero_serie %>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

        </div>
    </div>
</div>