<div class="container-body">
    <div class="container-imgFundo">
        <div class="container-imgBackground">
            <div class="container-texto">
                <h1 class="titulo">Ferramentas que você cadastrou!</h1><br>
                <h3 class="texto-home">Aqui estão todas as ferramentas que você cadastrou em nosso sistema. Você pode
                    visualizar as informações de cada ferramenta, bem como editá-las ou excluí-las!</h3>
                <a class="formCadastrarFerramenta" href="#redirect">
                    <button class="btnCadastrarFerramenta">Minhas Ferramentas</button>
                </a>
            </div>
        </div>
    </div>

    <div class="ferramentasCadastradas" id="redirect">
        <h3 class="toolMaster">ToolMasters</h3>
        <h1 class="texto-ferramentasCadastradas">Aqui estão suas ferramentas!</h1>
    </div>

    <div class="container__fundo_card">
        <div class="container__card">

            <% for (var i=0; i < ferramentas.length; i++) { %>

                <div class="card__father">
                    <div class="card">
                        <div class="card__front" style='background-image: url("<%= ferramentas[i].imagem %>");'>
                            <div class="bg"></div>
                            <div class="body__card_front">
                                <h1>
                                    <%= ferramentas[i].nome_ferramenta %>
                                </h1>
                            </div>
                        </div>
                        <div class="card__back">
                            <div class="body__card_back_minhas">
                                <div class="body__card_back_text">
                                    <div class="body_text_back">
                                        <form class="container-btnLogin"
                                            action="/editarFerramenta<%= ferramentas[i].idcadastro_ferramenta %>"
                                            method="get">
                                            <button class="btnEditar">Editar</button>
                                        </form>
                                        <h3 class="nome-ferramenta-home">
                                            <%= ferramentas[i].nome_ferramenta %>
                                        </h3><br>
                                        <h4>Descrição</h4>
                                        <h4 class="descricao-ferramenta-home">
                                            <%= ferramentas[i].descricao %>
                                        </h4><br>
                                        <h4>Código</h4>
                                        <h4 class="codigo-ferramenta-home">
                                            <%= ferramentas[i].codigo %>
                                        </h4><br>
                                        <h4>Série</h4>
                                        <h4 class="numero-serie-ferramenta-home">
                                            <%= ferramentas[i].numero_serie %>
                                        </h4>
                                        <form class="container-btnLogin"
                                            action="/excluirFerramenta<%= ferramentas[i].idcadastro_ferramenta %>"
                                            method="post">
                                            <button class="btnExcluir">Excluir</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <% } %>

        </div>
    </div>
</div>